a{
	color: #0d8241;
}

a:hover{
	color: #6e62f6;
}


.btn-primary{
	color: #fff;
    background-color: #0d8241;
    border-color: #0d8241;
}

.btn-primary:hover{
    background-color: #6e62f6;
    border-color: #6e62f6;	
}

.sidebar-nav .metismenu>li.active>a{
	color: #0d8241;
}

.badge-success{
	border-color: #0d8241;
    color: #0d8241;
}

.bg-green{
	background-color: #0d8241;
}

