/** Register Page **/

.auth_brand .navbar-brand{
	margin: 0px;
}


.form-control{
	height: 40px;
	border-radius: 0px;
}

.btn-group-lg>.btn, .btn-lg{
	border-radius: 0px;
}

#left-sidebar .navbar-brand .logo{
	width: 125px;
}

